/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  font-display: swap;
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-blue: #81b3d2;
  --basic-dark-gray: #333333;
  --basic-light-gray: #eeeeee;
  --basic-light-brown: #766357;
  --basic-gray: #a9a9a9;

  --special-brown: #604e43;
  --special-dark-brown: #503e33;
  --special-blue: #669ec0;
  --special-dark-blue: #5496bd;
  --special-extra-black: #231F20;
  --special-gray: #BDBBBC;
  --special-rating-gray: #f2f2f2;
  --special-rating-black: #666666;
  --special-body-gray: #f2f2f2;
}
/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special-body-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

/* Grid */

.page {
  height: 100%;
}

.main-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 55px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: nowrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  list-style: none;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li {
  width: 300px;
  box-sizing: border-box;
}

.site-navigation a {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 5px;
  box-sizing: border-box;
}

.nav-item:nth-child(1) a {
  margin-left: 66px;
  margin-right: auto;
}

.nav-item:nth-child(2) a {
  margin-left: 8px;
}

.nav-item:nth-child(4) a {
  margin-right: 66px;
}

.nav-item:nth-child(3) a {
  margin-right: 10px;
}

.site-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-ligth-blue);
}

.site-navigation a:active {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:disabled {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-light-brown);
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
}

.welcome {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 76px;
  background-image: url(../img/background-photo.jpg);
  background-position: 50% -14px;
  background-repeat: no-repeat;
  padding-bottom: 79px;
}

.welcome img {
  display: block;
  margin: 0 auto;
}

.cut {
  transform: translateY(10px);
}

.reasons-block {
  min-height: 509px;
}

.reasons-block p {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-gray);
}

.reasons-block h2 {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.reasons-town {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  margin: none;
}

.reason-town p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  text-align: center;
}

.town-text h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  text-align: center;
  margin: 45px 139px 25px;
}

.town-text {
  height: 256px;
}

.town-img img {
  padding: 0;
  transform: translateY(10px);
}

.reason-town {
  display: flex;
  min-height: 256px;
  background-color: var(--basic-light-blue);
}

.features-list {
  display: flex;
  list-style: none;
  min-height: 330px;
  margin: 0;
}

.feature-item {
  text-align: center;
  padding: 50px;
}

.feature-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.feature-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.reasons .reason-devil {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.reason-devil {
  display: flex;
  min-height: 256px;
  background-color: var(--basic-light-blue);
}

.reason-devil p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.reason-devil h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
  color: var(--basic-white);
}

.reasons .other {
  background-color: var(--basic-ligth-gray);
}

.reason-list {
  display: flex;
  list-style: none;
  background-color: var(--basic-light-gray);
  min-height: 256px;
  margin-top: 0;
}

.reason-item {
  text-align: center;
  padding: 50px;
}

.reason-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.reason-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.motivation-text {
  min-height: 291px;
}

.motivation-text h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}

.motivation-text p{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}

.button-find {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-find:hover,
.button-find:focus {
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.button-find:active {
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--special-dark-blue);
}

.instagram {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--basic-white);
  color: var(--basic-black);
  min-height: 120px;
  opacity: 0.9;
}

.footer-social{
  text-align: center;
}

.social-list {
  list-style: none;
}

.social-button {
  background-color: var(--basic-light-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue);
}

.social-button:active {
  background-color: var(--special-dark-blue);
}

.copyright p {
  color: var(--basic-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
 }

.copyright a {
  color: var(--special-extra-black);
}
.copyright a:hover,
.copyright a:focus {
  color: var(--basic-light-blue);
}

.copyright a:active {
  color: var(--special-gray);
}


/* hotels */

.result {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, 1fr);
}

.sorting-block h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sorting-list p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-dark-gray);
}


.sorting-list {
  list-style: none;
}

.sorting-list li {
  display: inline;
}


.sorting-item a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--basic-light-blue);
}

.sorting-item a:active {
  color: var(--basic-black);
}

.img-amara {
  grid-template: 1/2;
  grid-row: 2/3;
}

.text-amara {
  grid-template: 2/3;
  grid-row: 2/3;
}

.ratting-amara {
  grid-template: 3/4;
  grid-row: 2/3;
}

.img-desert {
  grid-template: 1/2;
  grid-row: 3/4;
}

.text-desert {
  grid-template: 2/3;
  grid-row: 3/4;
}

.ratting-desert {
  grid-template: 3/4;
  grid-row: 3/4;
}

.img-villas {
  grid-template: 1/2;
  grid-row: 4/5;
}

.text-villas {
  grid-template: 2/3;
  grid-row: 4/5;
}

.ratting-villas {
  grid-template: 3/4;
  grid-row: 4/5;
}

.hotel h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel p {
  display: inline;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.button-more {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.button-reserve {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.button-more:hover,
.button-more:focus {
  background-color: var(--special-blue);
}

.button-more:active {
  background-color: var(--special-dark-blue);
  opacity: 0.3;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: var(--special-brown);
}

.button-reserve:active {
  background-color: var(--special-dark-brown);
  opacity: 0.3;
}

.rating {
  background-color: var(--special-rating-gray);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--special-rating-black);
}
