/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  font-display: swap;
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-blue: #81b3d2;
  --basic-dark-gray: #333333;
  --basic-light-gray: #eeeeee;
  --basic-light-brown: #766357;
  --basic-gray: #a9a9a9;

  --special-brown: #604e43;
  --special-dark-brown: #503e33;
  --special-blue: #669ec0;
  --special-dark-blue: #5496bd;
  --special-extra-black: #231F20;
  --special-gray: #BDBBBC;
  --special-rating-gray: #f2f2f2;
  --special-rating-black: #666666;
  --special-body-gray: #f2f2f2;
}
/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special-body-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-ligth-blue);
}

.site-navigation a:active {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:disabled {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-light-brown);
  cursor: default;
}

.reasons-block h2 {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.reasons-block p {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-gray);
}

.reasons {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.reason-town p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.reason-town h2 {
  text-align: center;
}

.reason-town {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 256px;

}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

.feature-item {
  text-align: center;
  padding: 50px;
}


.feature-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.feature-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.reasons .reason-devil {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.reason-devil {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 256px;
}

.reason-devil p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.reason-devil h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
}

.reasons .other {
  background-color: var(--basic-ligth-gray);
}

.reason-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  background-color: var(--basic-light-gray);
  height: 256px;
  margin: 0;
}

.reason-item {
  text-align: center;
  padding-top: 50px;
}

.reason-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.reason-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.motivation-text h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}

.motivation-text p{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}

.button-find {
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.button-find:hover,
.button-find:focus {
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: var(--basic-white);
  background-color: var(--special-blue);
}

.button-find:active {
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--special-dark-blue);
}

.instagram {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-white);
  color: var(--basic-black);
  height: 120px;
}

.footer-social{
  text-align: center;
}

.social-list {
  list-style: none;

}

.social-button {
  background-color: var(--basic-light-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue);
}

.social-button:active {
  background-color: var(--special-dark-blue);
}

.copyright p {
  color: var(--basic-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
 }

.copyright a {
  color: var(--special-extra-black);
}
.copyright a:hover,
.copyright a:focus {
  color: var(--basic-light-blue);
}

.copyright a:active {
  color: var(--special-gray);
}

/* hotels */

.sorting-block h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.sorting-list p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.sorting-list {
  list-style: none;
}

.sorting-item a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.sorting-item a:hover,
.sorting-item a:focus {
  color: var(--basic-light-blue);
}

.sorting-item a:active {
  color: var(--basic-black);
}

.hotel-list {
  list-style: none;
}

.hotel-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.button-more {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.button-reserve {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.button-more:hover,
.button-more:focus {
  background-color: var(--special-blue);
}

.button-more:active {
  background-color: var(--special-dark-blue);
  opacity: 0.3;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: var(--special-brown);
}

.button-reserve:active {
  background-color: var(--special-dark-brown);
  opacity: 0.3;
}

.rating {
  background-color: var(--special-rating-gray);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--special-rating-black);
}
