/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  font-display: swap;
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-light-blue: #81b3d2;
  --basic-dark-gray: #333333;
  --basic-light-gray: #eeeeee;
  --basic-light-brown: #766357;
  --basic-gray: #a9a9a9;

  --special-brown: #604e43;
  --special-dark-brown: #503e33;
  --special-blue: #669ec0;
  --special-dark-blue: #5496bd;
  --special-extra-black: #231F20;
  --special-gray: #BDBBBC;
  --special-rating-gray: #f2f2f2;
  --special-rating-black: #666666;
  --special-body-gray: #f2f2f2;
  --special-hover-gray: #ebebeb;
  --special-focus-gray: #e5e5e5;
  --special-range-gray: #ababab;
  --special-sorting-gray: #cacaca;
}
/* Global */

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--special-body-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

/* Grid */

.page {
  height: 100%;
}

.main-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 55px;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.site-navigation {
  display: flex;
  flex-wrap: nowrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  list-style: none;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li {
  width: 300px;
  box-sizing: border-box;
}

.site-navigation a {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 5px;
  box-sizing: border-box;
}

.nav-item:nth-child(1) a {
  margin-left: 67px;
  margin-right: auto;
}

.nav-item:nth-child(2) a {
  margin-left: -5px;
}

.nav-item:nth-child(4) a {
  margin-right: 68px;
}

.nav-item:nth-child(3) a {
  margin-right: -6px;
}

.site-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-ligth-blue);
}

.site-navigation a:active {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:disabled {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-light-brown);
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
}

.welcome {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 76px;
  background-image: url(../img/background-photo.jpg);
  background-position: 50% -1px;
  background-repeat: no-repeat;
  padding-bottom: 79px;
}

.welcome img {
  display: block;
  margin: 0 auto;
}

.cut {
  transform: translateY(23px);
}

.reasons-block {
  min-height: 509px;
}

.reasons-block p {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark-gray);
  padding-bottom: 52px;

}

.reasons-block h2 {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin-bottom: 41px;
  margin-top: -12px;

}

.reasons-town {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  min-height: 256px;
}

.reason-town p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  align-self: center;
}

.town-text h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  text-align: center;
  padding: 47px 139px 25px;
}

.town-text .number {
  padding-left: 177px;
  padding-right: 174px;
  padding-bottom: 24px;
}

.town-text .attraction {
  padding-left: 49px;
  padding-right: 51px;
  padding-bottom: 54px;
  text-align: center;
}

.town-text {
  width: 400px;
}

.town-img img {
  display: block;
}

.reason-town {
  display: flex;
  justify-content: space-between;
  min-height: 256px;
  background-color: var(--basic-light-blue);
}

.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  min-height: 330px;
  margin: 0;
}

.feature-item {
  text-align: center;
  padding-top: 5px;
}

.feature-item:first-child {
  padding-left: 11px;
}

.feature-item:nth-child(2) {
  padding-left: 5px;
}

.feature-item:nth-child(3) {
  padding-top: 0;
}

.feature-item img {
  padding-top: 56px;
}

.feature-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  padding-top: 18px;
}

.feature-item:nth-child(2) h2 {
  padding-top: 20px;
  padding-left: 5px;
}

.feature-item:last-child {
  padding-right: 3px;
}

.feature-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
  padding-top: 26px;
  padding-left: 5px;
}

.feature-item:first-child p,
.feature-item:last-child p {
  padding-right: 3px;
}

.reasons .reason-devil {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.reason-devil {
  display: flex;
  justify-content: space-between;
  min-height: 256px;
  background-color: var(--basic-light-blue);
}

.reason-devil p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.reason-devil h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
  color: var(--basic-white);
  padding: 50px 125px 25px;
}

.devil-text .number {
  padding-left: 175px;
  padding-right: 174px;
  padding-bottom: 23px;
  text-align: center;
}

.devil-text .courage {
  padding-left: 50px;
  padding-right: 49px;
  padding-bottom: 51px;
}

.devil-text {
  width: 400px;
}

.devil-img img {
  display: block;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  background-color: var(--basic-light-gray);
  min-height: 256px;
  margin-top: 0;
}

.reason-item {
  text-align: center;
  padding-left: 40px;
}

.reason-item:nth-child(2) {
  margin-left: 18px;
}

.reason-item:last-child {
  padding-right: 21px;
}

.reason-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  padding-top: 48px;
  padding-bottom: 25px;
}

.reason-item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.reason-item .third,
.reason-item .fourth,
.reason-item .fifth {
  padding-bottom: 23px;
}

.booking-header {
  min-height: 291px;
}

.booking-header h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  padding-top: 58px;
}

.booking-header p{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  padding-top: 34px;
}

.booking-form {
  background-color: var(--basic-white);
  width: 568px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  position: absolute;
  margin-top: -86px;
  margin-left: 316px;
}


.booking-form .hotel-search {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  width: 586px;
  height: 86px;
}

.booking-form .hotel-search:hover,
.booking-form .hotel-search:focus {
  background-color: var(--special-brown);
}

.booking-form .hotel-search:active {
  color: var(--basic-white);
  background-color: var(--special-dark-brown);
  opacity: 0.3;
}

.booking-form ul {
  list-style: none;
}

.booking-form li,
.booking-form input {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.quantity-button {
  font: inherit;
  color: var(--basic-gray);
  background-color: var(--special-rating-gray);
  border: none;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.plus::before {
  content: "";
  background: var(--basic-gray);
  height: 11px;
  width: 3px;
  position: absolute;
  left: 17px;
  top: 13px;
}

.plus::after {
  content: "";
  height: 3px;
  width: 11px;
  background: var(--basic-gray);
  position: absolute;
  left: 13px;
  top: 17px;
}

.plus:hover::before,
.plus:hover::after {
  background: var(--basic-black);
}

.plus:active::before,
.plus:active::after {
  background: var(--basic-light-blue);
}

.minus::after {
  content: "";
  height: 3px;
  width: 11px;
  background: var(--basic-gray);
  position: absolute;
  left: 13px;
  top: 17px;
}

.minus:hover::after {
  background: var(--basic-black);
}

.minus:active::after {
  background: var(--basic-light-blue);
}

.booking-form input {
  border: none;
  background-color: var(--special-rating-gray);
}

.booking-form input:hover {
  background-color: var(--special-hover-gray);
}

.booking-form input:focus {
  list-style: none;
  background-color: var(--basic-white);
  border-color: var(--special-focus-gray);
  outline-width: 2px;
  outline-color: var(--special-focus-gray);
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  border: none;
  text-transform: uppercase;
  text-align: center;
  width: 458px;
  height: 58px;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--special-blue);
}

.search-button:active {
  background-color: var(--special-dark-blue);
  color: var(--basic-white);
  opacity: 0.3;
}

.booking-list {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

.booking-list li {
  margin-bottom: 30px;
  width: 460px;
}

.calendar-button {
  width: 21px;
  height: 22px;
  outline: none;
  border: none;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
  background: url(../img/calendar.svg) no-repeat center center;
  background-size: 21px 22px;
  right: 10px;
}

.calendar-button-check-in {
  top: 7px;
}

.calendar-button-check-out {
  top: 75px;
}

.calendar-button:hover,
.calendar-button:focus {
  background: url(../img/calendar-hover.svg) no-repeat center center;
  background-size: 21px 22px;
}

.calendar-button:active {
  background: url(../img/calendar-active.svg) no-repeat center center;
  background-size: 21px 22px;
}

.booking-list li:nth-child(2)::after {
  right: 10px;
  top: 75px;
}

.booking-form form {
  width: 460px;
  padding: 0;
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 55px;
}

.booking-form .hotel-search {
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 568px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.booking-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
  align-items: center;
}

.booking-list input {
  width: 346px;
  padding: 6px 15px;
  box-sizing: border-box;
}

.booking-list label {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-between;
  align-items: center;
}

.booking-list li:nth-child(3),
.booking-list li:nth-child(4) {
  display: flex;
  width: 228px;
  align-items: center;
  justify-content: space-between;
}

.adults-form,
.kids-form {
  display: flex;
  justify-content: flex-end;
}

.booking-item:nth-child(4) label {
  margin-left: 50px;
}

.quantity-button,
.quantity-button,
.booking-item:nth-child(3) input,
.booking-item:nth-child(4) input {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
}

.search-button {
  box-sizing: border-box;
  width: 458px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
  margin-bottom: 55px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--basic-white);
  color: var(--basic-black);
  min-height: 120px;
  opacity: 0.9;
  width: 1200px;
  min-height: 120px;
}

.index-footer {
  margin-top: -130px;
  position: absolute;
}

.instagram {
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding-left: 80px;
}

.phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  padding-left: 34px;
}

.footer-social{
  text-align: center;
}

.footer-social ul{
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  padding-right: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-light-blue);
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue);
}

.social-button:active {
  background-color: var(--special-dark-blue);
}

.copyright {
  display: flex;
  padding-top: 10px;
  padding-right: 50px;
}

.copyright p {
  color: var(--basic-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  padding-top: 10px;
 }

.copyright a {
  color: var(--special-extra-black);
  display: block;
  margin-left: 8px;
}
.copyright a:hover,
.copyrighta a:focus {
  color: var(--basic-light-blue);
}

.copyright a:active {
  color: var(--special-gray);
}

/* hotels */

.active-page {
  color: var(--basic-light-brown);
}

.filter-hotels{
  color: var(--basic-white);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 72px;
  padding-right: 72px;
  background-image: url(../img/background-filter.jpg);
}

.filter-hotels fieldset {
  border: none;
  width: 175px;
  margin: 0;
  padding: 0;
  margin-right: 79px;
  margin-bottom: 2px;
}

.filter-hotels label {
  line-height: 21px;
  position: relative;
  display: block;
  user-select: none;
  cursor: pointer;
}

.filter-hotels label:focus {
  outline: 2px solid var(--basic-light-gray);
}

.filter-hotels legend {
  line-height: 21px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
  padding-top: 28px;
}

.filter-hotels ul {
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.infrastructure-list li:last-child {
  margin-bottom: 30px;
}

.filter-option label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -40px;
  top: -2px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-option input:focus + label::before {
    outline:1px dotted var(--basic-light-blue);
}

.filter-input:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -40px;
  top: -2px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-option-inactive label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -40px;
  top: -2px;
  background-image: url(../img/checkbox-off-inactive.svg);
  background-repeat: no-repeat;
}

.filter-input-inactive:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -40px;
  top: -2px;
  background-image: url(../img/checkbox-on-inactive.svg);
  background-repeat: no-repeat;
}

.infrastructure {
  display: flex;
  width: 1056px;
}

.filter-hotels {
  display: flex;
}

.filter-range {
  width: 319px;
  margin-left: 229px;
}

.filter-range-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
  padding-top: 28px;
  padding-left: 2px;
}

.price-controls {
  height: 32px;
  border: 2px solid var(--basic-white);
  font-size: 0;
  margin-bottom: 18px;
  border-radius: 2px;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  line-height: 1;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-white);
  opacity: 0.3;
}

.range-controls .bar {
  height: 2px;
  width: 80%;
  background-color: var(--basic-white);
}

.range-toggle {
  width: 4px;
  height: 4px;
  background: var(--special-rage-gray);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  position: absolute;
  top: -9px;
}

.range-toggle:hover {
  background: var(--special-rage-gray);
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 87px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-white);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

.btn-transparent:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.sorting-block {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  height: 87px;
  background-image: none;
  display: flex;
}

.sorting-text {
  vertical-align: middle;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 30px 0;
}

.sorting fieldset {
  padding: 0;
  margin: 0;
  border: none;
  width: 410px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 12px;
  margin-left: 48px;
  display: inline;
}

.sorting .sorting-link {
  font-size: 12px;
  line-height: 18px;
  color: var(--special-sorting-gray);
  cursor: pointer;
  border-bottom: 1px solid var(--basic-light-blue);
  border-bottom-style: dotted;
  margin-left: 31px;
}

.sorting .sorting-link:nth-child(2) {
  margin-left: 34px;
}

.sorting .sorting-link:hover,
.sorting .sorting-link:focus {
  color: var(--basic-light-blue);
}

.sorting .sorting-link:active {
  color: var(--basic-black);
  border: none;
}

.sorting .link-active {
  color: var(--basic-light-blue);
  border: none;
}

.sorting {
  padding: 30px 0;
}

.sorting-direction {
  margin-left: auto;
  padding: 30px 0;
  cursor: pointer;
}

.arrow-up {
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid var(--special-sorting-gray);
  display: inline-block;
  vertical-align: baseline;
}

.arrow-down {
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid var(--special-sorting-gray);
  display: inline-block;
  vertical-align: baseline;
  margin-left: 10px;
}

.active-arrow {
  border-top-color: var(--basic-light-blue);
}

.arrow-up:hover,
.arrow-up:focus  {
  border-bottom: 10px solid var(--basic-black);
}

.arrow-up:active  {
  border-bottom: 10px solid var(--basic-light-blue);
}

.arrow-down:hover,
.arrow-down:focus  {
  border-top: 10px solid var(--basic-black);
}

.arrow-down:active  {
  border-top: 10px solid var(--basic-light-blue);
}

.sorting-block p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
}

.hotel-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotel-item p {
  display: inline;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark-gray);
}

.hotel-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-top: -5px;
  cursor: pointer;
}

.hotel-name:hover,
.hotel-name:focus {
  color: var(--basic-light-blue);
}

.hotel-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-list li {;
  display: flex;
  padding: 30px 73px 30px;
  border-bottom: 1px solid var(--special-focus-gray);
}

.hotel-list li:first-child {
  border-top: 1px solid var(--special-focus-gray);
}

.hotel-price,
.hotel-type {
  display: inline-block;
  margin: 0;
  margin-top: 3px;
  vertical-align: middle;
}

.hotel-type {
  width: 110px;
  margin-right: 1px;
}

.hotel-price {
  padding-left: 20px;
}

.hotel-price.amara {
  padding-left: 35px;
}

.hotel-price.desert {
  padding-left: 60px;
}

.hotel-item {
  width: 260px;
  margin-left: 30px;
  position: relative;
}

.hotel-item .button-more,
.hotel-item .button-reserve {
  display: inline-block;
  padding: 3px 16px;
  margin-bottom: 0;
  margin-top: 15px;
  vertical-align: middle;
}

.hotel-item .button-more {
  margin-right: 3px;
}

.rating {
  margin-right: 0;
  margin-left: auto;
}

.stars {
  text-align: right;
}

.stars img {
  display: inline-block;
  margin-left: 1px;
  margin-top: -50px;
  vertical-align: baseline;
  padding-bottom: 47px;
}

.rating {
  display: block;
  width: 110px;
  text-align: center;
  margin: 0;
  margin-top: 40px;
  padding-left: 522px;
}

.hotel-rating {
  background-color: var(--special-rating-gray);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--special-rating-black);
}

.button-more {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.button-reserve {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
}

.button-more:hover,
.button-more:focus {
  background-color: var(--special-blue);
}

.button-more:active {
  background-color: var(--special-dark-blue);
  opacity: 0.3;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: var(--special-brown);
}

.button-reserve:active {
  background-color: var(--special-dark-brown);
  opacity: 0.3;
}
